

div.span8
    form(action='/api/admin/invite/new', method='POST')
        div.clearfix
          label(for='code') Invite Code
          div.input
            input.xlarge(type='text', name='invite_code', value='#{invite_code}')
        div.clearfix
          label(for='email') Recipient Email
          div.input
            input.xlarge(type='text', name='email')
        div.actions
          input.btn.primary(type='submit', value='Send Invitation')

div.span12
  table.table-bordered.table-striped.table
    caption Invite Codes
    thead
      tr
        th Code
        th Created Date
        th Emailed To
        th Consumed By
        th Consumed Date
    tbody
      each code in invite_codes
        tr
          td #{code.code}
          td #{code.created}
          td
            - if (code.emailed_to !== undefined && code.emailed_to !== null)
              span #{code.emailed_to}
          td 
            - if (code.consumed_by_user !== undefined && code.consumed_by_user !== null)
              span #{code.consumed_by_user.email}
          td #{code.consumed}

