script.template#spinner-msg(type="text/template")
  img.spinner(src="/images/spinner.gif")
  <%= message %>

script(src='/socket.io/socket.io.v0.9.10.js')
script(type="text/javascript")
  function status_msg(msg, alertclass, templateselector) {
    var el;
    if (templateselector === undefined) {
      el = $("#job-output");
    } else {
      el = $(templateselector);

    }
    $("#spinner").html(_.template(el.html(), {message:msg}));
    $("#spinner").removeClass().addClass("alert alert-"+alertclass);
    $("#spinner").show();
  }
  if (window.socket === undefined) {
    window.socket = io.connect();
    var started = false;
    window.socket.on('start', function(data) {
      if (data.repo_url === "#{repo_url}") {
        $("pre.console-output").html("");
        $("#build-metadata").hide();
        status_msg("Running job...", "info", "#spinner-msg");
        started = true;
      }
    });
    window.socket.on('update', function(data) {
      if (data.repo_url === "#{repo_url}") {
        if (!started) {
          $("pre.console-output").html("");
          status_msg("Running job...", "info", "#spinner-msg");
          started = true;
        }
        $("pre.console-output").append(data.msg);
        var offset = $('pre.console-output').prop('scrollHeight');
        $('pre.console-output').scrollTop(offset);
        $("a.btn.test").attr('disabled', 'disabled');
        $("a.btn.deploy").attr('disabled', 'disabled');
        $("#build-metadata").hide();
      }
    });
    window.socket.on('done', function(data) {
      if (data.repo_url === "#{repo_url}") {
        $("pre.console-output").append(data.msg);
        var offset = $('pre.console-output').prop('scrollHeight');
        $('pre.console-output').scrollTop(offset);
        window.location = window.location;
      }
    });
  }
  window.startJob = function(url, job_type) {
    // Default job type is TEST_AND_DEPLOY
    if (job_type === undefined) {
      job_type = "TEST_AND_DEPLOY";
    }

    var data = {url:url, type:job_type};

    $.ajax("/api/jobs/start", {
      data: data,
      dataType: "text",
      error: function(xhr, ts, e) {
        var job = JobList.find(function(item) {
          return item.get('repo_url') === url;
        });
        if (job !== undefined) {
          startProgressMeter(job);
        }
      },
      success: function(data, ts, xhr) {

      },
      type: "POST"
    });
  };

  $(document).ready(function() {
    $("a.btn.deploy").click(function() {
      startJob("#{repo_url}");
      $("a.btn.deploy").attr('disabled', 'disabled');
      $("a.btn.test").attr('disabled', 'disabled');
      status_msg("Job submitted...", "info", "#spinner-msg");
    });

    $("a.btn.test").click(function() {
      startJob("#{repo_url}", "TEST_ONLY");
      $("a.btn.test").attr('disabled', 'disabled');
      $("a.btn.deploy").attr('disabled', 'disabled');
      status_msg("Job submitted...", "info", "#spinner-msg");
    });
    var offset = $('pre.console-output').prop('scrollHeight');
    $('pre.console-output').scrollTop(offset);
  });


.row-fluid
  .span8
    // Spinner
    .row-fluid
      .span12
        div#spinner.alert.alert-info
    .row-fluid#build-metadata
      - if (results_detail.test_exitcode!=0)
        .span2
          h3.failure-text FAILURE
        .span10
          include _build_results_detail
      - else
        .span2
          h3.success-text SUCCESS
        .span10
          include _build_results_detail
    .row
      .span12
        br
    .row
      .span12
        pre.console-output !{results_detail.output}
  .span4
    #build-detail-buttons
      - if (admin_view != true)
        a.btn.btn-primary.test Test
      &nbsp;&nbsp;&nbsp;
      - if (has_prod_deploy_target)
        a.btn.btn-info.deploy Deploy
      &nbsp;&nbsp;&nbsp;
      a.btn(href="/#{org}/#{repo}/config") Configure
    #list-of-builds
      .row-fluid.build-list-header
        .span12
          h3 Build History - 
            font.header-emphasis #{org}/#{repo}:
      each job in jobs    
        - if (job.test_exitcode!=0)
          .row-fluid.build-list-item
            .span1
              a(href=job.url, title="View Build Detail")
                i.icon-remove.icon-red
            include _build_history_item
        - else
          .row-fluid.build-list-item
            .span1      
              a(href=job.url, title="View Build Detail")
                i.icon-ok.icon-green
            include _build_history_item
        
