.row
  .span10
    - if ('undefined' !== typeof errors && errors.length)
      ul#errors
        - each error in errors
          li.error= error
.row-fluid
  .span2
  .span6
    .hero-unit
      h1 Brilliant Continuous Deployment.
      br
      p Strider is a continuous delivery platform.
      p Learn more at 
      a(href='http://github.com/Strider-CD/strider') github.com/Strider-CD/strider
  .span3
    .row-fluid.hero-subunit
      h3 Existing User?
      br
      br
      form(action='/login', method='post')
        div.clearfix
          label(for=everyauth.password.loginFormFieldName) Email
          div.input
            input.xlarge(type='text', name=everyauth.password.loginFormFieldName, value=email)
        div.clearfix
          label(for=everyauth.password.passwordFormFieldName) Password
          div.input
            input.xlarge(type='password', name=everyauth.password.passwordFormFieldName)
        div.actions
          input.btn.primary(type='submit', value='login')
      br
      br
      br

script
  $(document).ready(function() {
    $('#layout-header').hide();
    $('#navbar-signin-form').hide();

  });
