| Hi,

| Striderapp.com here. The tests for #{display_name} have failed!

| They failed at #{finish_time}.

| It took a total of #{elapsed_time} minutes to run the tests.

| View test output at: 
| #{url}

| -----BEGIN LOG TAIL (last 4kb)-----
| #{log_tail}
| -----END LOG TAIL-----

| View test output at: 
| #{url}

| Regards, 
| - StriderApp.com
| Brilliant Continuous Deployment