| Hi,
| #{inviter} has added you as a collaborator on StriderApp.com for #{display_name}

| Your invite code is:
| #{code}
| You may register an account with this code at:
| #{strider_server_name}/?code=#{code}

| Regards, 

| StriderApp.com
| Brilliant Continuous Deployment
